.sec{
	float: right;
	color: #808080;
}
.home{
	margin-bottom: 0rem;
	position: relative;
	min-height: 50px;
}
.pig > .active {
	left: 0px;
	height: 550px;
}
<nav
.plans{
	margin-top: 8rem;
	margin-bottom: 8rem;
}
.footer{
	background-color: blue;
	color: white;
	height: 15rem;
}
.can{
	color: green;
}
h4{
	color: orange;
}


